/* contact */

#contact {
    background-color: rgba(0,0,0,0.1);
}

section > h1 {
    padding-top: 5%;
    text-align: center;
    font-size: 3em;
}

.wrapper {
    height: 100%;
}

form > .wrapper > div {
    text-align: center;
}

form > .wrapper > div > input {
    font-size: 15px;
    font-family: Mali, cursive;
    background-color: transparent;
    display: block;
    height: 25px;
    width: 300px;
    border: 1px solid black;
    margin: 1% auto;
    border-radius: .50em;
}

.send {
    height: 20px;
}

form > .wrapper > .send > input {
    font-family: Mali, cursive;
    color: white;
    font-size: 25px;
    height: 40px;
    width: 150px;
    background-color: #494F54;
    margin-top: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    border-radius: .50em;
}

.social-links {
    text-align: center;
    margin-top: 75px;
}

.fab {
    font-size: 3em;
    padding: 2%;
}