@media (min-width: 768px) {
    .hide {
        display: flex;
        justify-content: space-evenly;
        visibility: visible;
        margin-top: 0;
        padding: 5px 0 15px 0;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #494F54;
    }

    .hide > .nav-item > a {
        color: #FFFFFF;
    }

    .background-image {
        height: 300px;
    }

    div:nth-of-type(1) h2 {
        font-size: 3em;
    }

    @keyframes animated-text {
        from{width: 0;}
        to{width: 300px;}
    }

    .projects {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /* .wrapper {
        flex: 50%;
    } */
}

@media (min-width: 1020px) {
    .fa-bars {
        visibility: hidden;
    }

    div:nth-of-type(1) h2 {
        font-size: 4em;
    }

    @keyframes animated-text {
        from{width: 0;}
        to{width: 400px;}
    }

    .icons-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .dev-icon {
        flex: 0;
    }

    .projects {
        justify-content: space-around;
        align-items: center;
    }
    
    .projects > .boxes {
        width: 450px;
    }

    .contact {
        /* height: 450px; */
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 5% 5% 5% 13%;
    }

    .social-links {
       margin-right: 7%;
       display: flex;
       flex-direction: column;
    }
}