body {
    margin: 0 auto;
    font-family: Mali, cursive;
    color: #494F54;
}

/* icon decoration */
.fas { 
    font-size: 40px;
    padding-top: 10px;
    cursor: pointer;
}

/* hamburger nav */

nav div:nth-of-type(1) {
    text-align: center;
}

.hide {
    font-size: 35px;
    list-style: none;
    text-align: center;
    text-transform: lowercase;
    visibility: hidden;
    display: block;
    margin-right: 10%;
    margin-top: -150px;
    transition: all 0.5s linear;
}

.show {
    display: block;
    margin-top: 10px;
    visibility: visible;
    transition: all 0.5s linear;
}

ul > li a:hover, .active {
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #494F54;
}


/* banner */

.background-image {
    background-image: url(../images/photo-1562696232-c59a1aee6b0f.jpeg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -19px;
}

div:nth-of-type(1) h1 {
    font-family: "Alex Brush", cursive;
    text-align: center;
    font-size: 70px;
    color: #494F54;
}

/* about me */

#aboutme {
    background-color: rgba(0,0,0,0.1);
    padding-bottom: 2%;
}

.selfie img {
    height: 400px;
    width: 350px;
    border-radius: 50%;
    background-color: lightcoral;
    text-align: center;
    margin: auto;
}

section:nth-of-type(1) div:nth-of-type(2) {
    margin-top: -200px;
    font-size: 1em;
    text-align: center;
    color: #494F54;
}

section:nth-of-type(1) div:nth-of-type(2) h1 {
    font-size: 40px;
}


/* Projects */

section:nth-of-type(2) h1 {
    font-family: Mali, cursive;
    font-size: 40px;
}

.projects, .url {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > h1 {
    text-align: center;
}

p {
    text-align: center;
}

.projects .boxes {
    height: 280px;
    width: 400px;
    margin-bottom: 3%;
    box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.4);
}

.image {
    height: 190px;
    width: 100%;
}

.url {
    font-weight: 600;
}

.url:hover {
    text-transform: uppercase;
}


/* footer */

footer {
    text-align: center;
    color: white;
    padding: 10px 0 10px 0;
    background-color: #494F54;
}