body {
    margin: 0 auto;
}

/* hamburger nav */
nav div:nth-of-type(1) {
    text-align: center;
}

.fas {   
    margin-left: 45px;
    font-size: 40px;
    padding-top: 10px;
    cursor: pointer;
}

.hide {
    font-family: "shadows into light", cursive;
    font-size: 40px;
    list-style: none;
    text-align: center;
    display: none;
}

ul > li a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #494F54;
}

/* icon decoration */

/* nav > div {
    text-align: center;
    margin-left: 45px;
    font-size: 40px;
    padding-top: 10px;
    cursor: pointer;
} */

/* banner */

.background-image {
    background-image: url(/images/photo-1562696232-c59a1aee6b0f.jpeg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
}

div:nth-of-type(1) h1 {
    font-family: Pacifico, cursive;
    text-align: center;
    font-size: 50px;
    color: #494F54;
}

section {
    font-family: "shadows into light", cursive;
}

section > h1 {
    font-size: 3em;
    text-align: center;
    color: #494F54;
}

section > h3 {
    text-align: center;
}
