body {
    margin: 0 auto;
    font-family: "shadows into light", cursive;
    color: #494F54;
}

/* icon decoration */
.fas {   
    margin-left: 45px;
    font-size: 40px;
    padding-top: 10px;
    cursor: pointer;
}

/* hamburger nav */

nav div:nth-of-type(1) {
    text-align: center;
}

.hide {
    font-size: 40px;
    list-style: none;
    text-align: center;
    text-transform: lowercase;
    visibility: hidden;
    margin-top: -150px;
    transition: all 0.5s linear;
}

.show {
    display: block;
    margin-top: 10px;
    visibility: visible;
    transition: all 0.5s linear;
}

ul > li a:hover, .active {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #494F54;
}


/* banner */

.background-image {
    background-image: url(/images/photo-1562696232-c59a1aee6b0f.jpeg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -19px;
}

div:nth-of-type(1) h1 {
    font-family: "Alex Brush", cursive;
    text-align: center;
    font-size: 70px;
    color: #494F54;
}

/* about me */

section:nth-of-type(1) div:nth-of-type(2) {
    margin-top: -200px;
    font-size: 1em;
    text-align: center;
    color: #494F54;
}

section:nth-of-type(1) div:nth-of-type(2) h1 {
    font-size: 40px;
}


/* Projects */

section:nth-of-type(2) h1 {
    font-family: "shadows into light", cursive;
    font-size: 40px;
}

.projects, .url {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > h1 {
    text-align: center;
}

.projects .boxes {
    height: 250px;
    width: 400px;
    margin-bottom: 3px;
    border: 1px solid black;
}

.image {
    /* border: 1px solid blue; */
    height: 160px;
    width: 400px;
}

/* form */
section > h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 20px;
    font-family: "shadows into light", cursive;
    height: 30px;
    width: 300px;
    margin: 5px;
}

textarea {
    font-size: 20px;
    font-family: "shadows into light", cursive;
    width: 298px;
    border: 2px solid lightgray;
}

button {
    font-family: "shadows into light", cursive;
    font-size: 15px;
    width: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}

/* footer */

footer {
    text-align: center;
}

@media (min-width: 768px) {
    section:nth-of-type(1) > div:nth-of-type(2) {
        margin-top: -25px;
    }

    .projects {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (min-width: 1080px) {
    .fa-bars {
        visibility: hidden;
    }

    .hide {
        display: flex;
        justify-content: space-evenly;
        visibility: visible;
        margin-top: -0px;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.1);
    }

    .background-image {
        height: 735px;
        margin-top: 10px;
    }

    section:nth-of-type(1) div:nth-of-type(2) h1 {
        text-align: left;
    }


    div:nth-of-type(1) h1 {
        font-size: 6em;
    }

    section:nth-of-type(1) > div:nth-of-type(2) {
        margin-top: -20px;
    }

    .projects {
        justify-content: space-around;
    }
}